{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Brows Property Listings {% endblock  %}

{% block content %}
        <div class="page-title sp" style="">
    <div class="container text-center">
        <h2>Our services</h2>
        <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
    </div>
</div>    <div class="portfolio-area sp">
    <div class="container">

        <div class="row portfolio-isotope">
            {% for section in sections %}
            <div class="single-portfolio col-md-4 branding photography design">
                <div class="inner">
                    <div class="portfolio-img">
                        <a href="{% url 'section' section.id %}">
                        <img src="{{ section.photo_main_trainings.url }}" alt="portfolio-image"></a>
                        <div class="hover-content">
                            <div>
                                <a href="{% url 'section' section.id %}" class="button">{{ section.title }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-content">
                     <a href="{% url 'section' section.id %}"><h3>{{ section.title }}</h3></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

              <div class="row">
        <div class="col-md-12">
            {% if sections.has_other_pages %}
                <ul class="pagination">
                    {% if sections.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ sections.previous_page_number }}" class="page-link">&laquo;</a>
                        </li>
                    {% else %}
                    <li class="page-item.disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                    {% endif %}
                    {% for i in sections.paginator.page_range %}
                        {% if sections.number == i %}
                            <li class="page-item active">
                                <a class="page-link">{{ i }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if sections.has_next %}
                        <li class="page-item">
                            <a href="?page={{ sections.next_page_number }}" class="page-link">&raquo;</a>
                        </li>
                    {% else %}
                    <li class="page-item.disabled">
                        <a class="page-link">&raquo;</a>
                    </li>
                    {% endif %}
                </ul>
          {% endif %}
        </div>
      </div>


    </div>
</div>
{% endblock %}