{% extends 'base.html' %}

{% block content %}
<h1 class="text-center pt-5">{{ trainer.last_name }} {{ trainer.first_name }}</h1>
<div class="about-area sp">

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <h3>USA’s most trusted 3D and graphic designing studio, a very passionate team inside.</h3>
                    <p><b>{{ trainer.description }}</b> </p>
                    <a href="{% url 'trainers'%}" class="btn btn-secondary mb-4">
                        trainers list</a> </div> </div> <div class="col-md-6">
                            <div class="about-img">
                                <img src="{{ trainer.photo2.url }}" alt="">
                            </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}